.contact-page-container {
    padding: 50px;
    text-align: center;
    color: #fff;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin-top: 30px;
  }



  .contact-email{
    text-decoration: none;
    color:#8B949E;
  }
  
  .page-title {
    font-size: 40px;
  color: white;
  font-weight: bold;
    margin-bottom: 50px;
  }

  .page-sub-title {
    font-size: 26px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0px auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .contact-form button:hover {
    background-color: #333;
  }
  
  .contact-linkedIn{
    width: 30px;
    margin-left: 20px;
  }

  @media (max-width: 992px) {

    .contact-page-container{
      justify-content: center;
        align-items: center;
    }
    .contact-page-form {
        justify-content: center;
        align-items: center;
    }
    .contact-form{
      width: 100%;
    }
  }